
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <!-- Include your CSS file here -->
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    <section class="hero-section"></section>
<section class="shop-section">
  <div class="shop-images">
    <div class="shop-link">
      <h3>Shop Laptops &amp; Tables</h3>
      <img src="images/img-1.png" alt="card">
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
    <div class="shop-link">
      <h3>Shop Smartwatches</h3>
      <img src="images/img-2.png" alt="card">
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
    <div class="shop-link">
      <h3>Create with Strip Lights</h3>
      <img src="images/img-3.png" alt="card">
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
    <div class="shop-link">
      <h3>Home Refresh Ideas</h3>
      <img src="images/img-4.png" alt="card">
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
    <div class="shop-link">
      <h3>Shop Laptops &amp; Tables</h3>
      <img src="images/img-1.png" alt="card">
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
    <div class="shop-link">
      <h3>Shop Smartwatches</h3>
      <img src="images/img-2.png" alt="card">
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
    <div class="shop-link">
      <h3>Create with Strip Lights</h3>
      <img src="images/img-3.png" alt="card">
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
    <div class="shop-link">
      <h3>Home Refresh Ideas</h3>
      <img src="images/img-4.png" alt="card">
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
  </div>
</section>
   <script src="{% static 'js/add_to_cart.js' %}"></script>
</body>
</html>
